<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://theosirian.com:3306/plasnedo?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">plasnedo</property>
    <property name="hibernate.connection.password">bristol</property>
    <property name="hibernate.connection.datasource">plasnedo</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="model/Pessoa.hbm.xml"/>
    <mapping resource="model/ContaPagar.hbm.xml"/>
    <mapping resource="model/PessoaFisica.hbm.xml"/>
    <mapping resource="model/ItemPedido.hbm.xml"/>
    <mapping resource="model/Pedidos.hbm.xml"/>
    <mapping resource="model/PessoaJuridica.hbm.xml"/>
    <mapping resource="model/ParcelasReceber.hbm.xml"/>
    <mapping resource="model/ContaReceber.hbm.xml"/>
    <mapping resource="model/ParcelasPagar.hbm.xml"/>
    <mapping class="model.Produto" file="" jar="" package="model" resource="model/Produto.hbm.xml"/>
    <mapping class="model.InformacoesBancarias" file="" jar="" package="model" resource="model/InformacoesBancarias.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
